<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">
  <link rel="stylesheet" href="../css/index.css">
  <title>日程調整ツール</title>
</head>
<body>
  <div class="wrap">
    <div class="inner">
      <div class="title">
        <h1>日程調整<br>ツール</h1>
      </div>
      <div class="title-button-wrap">
        <span class="title-button">
          <button>新しく<br>つくる</button>
        </span>
        <span class="title-button">
          <button>履歴から<br>選ぶ</button>
        </span>
      </div>
      <div class="hidden"></div>
      <div class="hidden"></div>    
    </div>
  </div>
  <script src="../js/index.js"></script>
</body>
</html>